@model Product

<form method="post">
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.CategoryId)
        @Html.TextBoxFor(m => m.CategoryId)
    </div>
    <div>
        @Html.LabelFor(m => m.Image)
        @Html.TextBoxFor(m => m.Image)
    </div>
    <div>
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity)
    </div>


    <div>
        <input type="submit" value="Save" />
    </div>
</form>

